:root {
  --max-width: 800px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-primary: #FF0007;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-primary);
  color: #fff;
}

p {
  margin-bottom: 30px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }
}